<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Performance Feedback</title>
  <link rel="stylesheet" href="D:\Hack the night\static\style.css">
</head>
<body>
  <header>
    <h1>Dashboard</h1>
    <nav>
      <a href="/home_stud">Home</a>
      <a href="/">Logout</a>
    </nav>
  </header>
  <main>

<form action="/feedback" method="post">
    <section>
      <h2>Tutor Performance Feedback</h2>
        <div>
          <label for="name">Name of Tutor:</label>
          <input id="name" name="name" rows="1" cols="50" required>
        </div>
        <br></br>
        <div>
          <label for="understandability">Understandability(1-5):</label>
          <input type="number" id="understandability" name="und" min="1" max="5" required>
        </div>
        <br></br>
        <div>
          <label for="approachability">Approachability(1-5):</label>
          <input type="number" id="approachability" name="app" min="1" max="5" required>
        </div>
        <br></br>
        <div>
          <label for="clearSpeech">Clear Speech(1-5):</label>
          <input type="number" id="clearSpeech" name="cle" min="1" max="5" required>
        </div>
        <br></br>
        <div>
          <label for="engagement">Engagement(1-5):</label>
          <input type="number" id="engagement" name="eng" min="1" max="5" required>
        </div>
        <br></br>
        <div>
          <label for="knowledge">Knowledge(1-5):</label>
          <input type="number" id="knowledge" name="kno" min="1" max="5" required>
        </div>
        <br></br>
        <div>
          <label for="comments">Comments:</label>
          <textarea id="comments" name="com" rows="4" cols="50"></textarea>
        </div>
        <br></br>
       <button type="submit">Submit Feedback</button>
  </section>
  </form>

   
  </main>
  <footer>
  </footer>
</body>
</html>