<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <h1>Dashboard</h1>
    <nav>
      <a href="/">Logout</a> <!-- Backend routing using jinja -->
    </nav>
  </header>
  <main>
    <section>
      <h2>Welcome, <span>username</span></h2>
      <p>You can manage your account, start sessions, schedule sessions and more.</p>
    </section>
    <button style="background-color: black"><a href="/stud_vc">Start Session</a></button>
    Start Session</button>
  </main>
<footer>
</footer>
</body>
</html>