<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sessions</title>
  <link rel="stylesheet" href="static/style.css">
<style>
    .hidden {
      display: none;
    }
  </style>
  <script>
    function showElements() {
      var elements = document.getElementsByClassName("hidden");
      for (var i = 0; i < elements.length; i++) {
        elements[i].style.display = "block";
      }
    }
  </script>
</head>
<body>
<header><h1>Sessions</h1>
<nav>
      <a href="/home_stud">Home</a>
      <a href="/">Logout</a>
    </nav>
</header>
<h1><b>Select the details for the tutor session<b></h1>
<h1><u>Subject</u></h1>	
<label for="Math">Math</label>
<input type="radio" name="Subject" value="Math" >
<label for="Physics">Physics</label>
<input type="radio" name="Subject" value="Physics">
<label for="Chemistry">Chemistry</label>
<input type="radio" name="Subject" value="Chemistry">
<label for="Biology">Biology</label>
<input type="radio" name="Subject" value="Biology">
<label for="English">English</label>
<input type="radio" name="Subject" value="English">
<h1></h1>
<h1><u>Date and Time</u></h1>
<label>Date</label><input type="date" id="date" name="date">
<br></br>
<label>Time</label><input type="time" id="time" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}">
<br></br>
<button onclick="showElements()"><centre><a  target="_blank" href="https://meet.google.com/?pli=1">
 Start Call</a>
</centre></button>
<br></br>
  <div class="hidden">
    <button ><a href="/feedback">End Call</a></button>
  </div>
</body>
</html>