<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sessions</title>
  <link rel="stylesheet" href="static/style.css">
  <style>
    .hidden {
      display: none;
    }
  </style>
  <script>
    function showElements() {
      var elements = document.getElementsByClassName("hidden");
      for (var i = 0; i < elements.length; i++) {
        elements[i].style.display = "block";
      }
    }
  </script>
</head>
<body>
<header><h1>Sessions</h1>
<nav>
      <a href="/home_tut">Home</a>
      <a href="/">Logout</a>
    </nav>
</header>
<h1><b>Select the details for the teaching session<b></h1>
<h1><u>Subject</u></h1>	
<label for="Math">Math</label>
<input type="radio" name="Subject" value="Math">
<label for="Physics">Physics</label>
<input type="radio" name="Subject" value="Physics">
<label for="Chemistry">Chemistry</label>
<input type="radio" name="Subject" value="Chemistry">
<label for="Biology">Biology</label>
<input type="radio" name="Subject" value="Biology">
<label for="English">English</label>
<input type="radio" name="Subject" value="English">
<button id="enter" onclick="showElements()"><a>Enter</a></button>
<br></br>
<h1><b>Slot available:</b></h1>
<br></br>
<div class="hidden">
{% for row in rows %}
<tr>
  <td>{{row.date}}</td>
  <td>{{row.time}}</td>
</tr>
{% endfor %}
</div>

<button onclick="showElements()"><centre><a  target="_blank" href="https://meet.google.com/?pli=1">
Start Call</a>
</centre></button>
<br></br>
  <div class="hidden">
    <button ><a href="/home_tut">End Call</a></button>
  </div>
</body>
</html>